.disponible{
    color: green;
}
.oferta{
    color: blue;
}
.agotado{
    color: red;
}
.grey{
    background-color: gray;
}
.borde{
    color: red;
    border-width: 5px;
    border-color: red;
    border-style: solid;
}
a {
    text-decoration: none;
}
p{
    align-self: center;
}

.mitad{
    height: 70%;
}

.chico{
    padding: 0px 20%;
}

#usuarios {
    padding: 30px;
}

#subs {
    max-width:fit-content;
}

#contraLabel {
    margin-right: 20px;
}

#fotoPerfil {
    width: 250px;
    margin-bottom: 20px;
}
